{% extends 'include/main.html'%}
{% block tilte%}Home {% endblock%}

{% block body%}
{% load static %}

{% include 'page/header.html'%}

<div class="container-fluid">


    <div class="row mt-4">
        <div class="col-md-2">

            <div class="list-group" id="cat-div">
                <a href="#" class="list-group-item list-group-item-action active">All Cotegery
                </a>
                <span id="getCot">
                </span>

            </div>

            <div class="">
                (1000-10000)
                <input type="range" id="searchprobyrange" onchange="searchProbyRange()">
            </div>
        </div>
        <script>
        function searchProbyRange(){
            searchprobyrange =$("#searchprobyrange").val();
            alert(searchprobyrange);
            }
        </script>
        <div class="col-md-8">
            <div class="sdiv">
                <input type="text" id="searchpro" placeholder="Search for products, brands and more"
                       class="form-control">
                <span id="sbtn" onclick="searchProduct()"><i class="fas fa-search"></i></span>
            </div>

            <div class="row" id="allpro">

            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Recent Product</a>
                <a href="#" class="list-group-item list-group-item-action ">Product 1</a>
                <a href="#" class="list-group-item list-group-item-action">Product 2</a>
                <a href="#" class="list-group-item list-group-item-action">Product 3</a>


            </div>

        </div>
    </div>

</div>

{% block js%}

<script>

function CartHide(){
     $("#cart_data").slideToggle();
  }
function fetchAllProduct(){
        $.ajax({
            url:"http://127.0.0.1:8000/allpro/",
            success:function(data){
            $("#allpro").html(data);
            }
        });
}

function fetchAllCot(){
    $.ajax({
            url:"http://127.0.0.1:8000/allCat/",
            success:function(data){
            $("#getCot").html(data);
            }
        });
}

function searchProduct(){
    searchpro =$("#searchpro").val();
    $.ajax({
        url:"http://127.0.0.1:8000/allpro/",
        type:"get",
        data:{searchpro:searchpro},
        success:function(data){

        $("#allpro").html(data);
        }
    });
 }

 function searchProductByCat(cot_id){
    $.ajax({
        url:"http://127.0.0.1:8000/allpro/",
        type:"get",
        data:{cot_id:cot_id},
        success:function(data){
        $("#allpro").html(data);
        }
    });

 }

 function getToCartProduct(pid){

    $.ajax({
        url:"http://127.0.0.1:8000/allCart/",
        type:"get",
        data:{pid:pid},
        success:function(data){

        $("#loadCart").html(data);
        //$("#cCart").html(data);
        }
    });

}

 function removeCartProduct(pid){

    $.ajax({
        url:"http://127.0.0.1:8000/deleteCart/",
        type:"get",
        data:{pid:pid},
        success:function(data){
        getToCartProduct(0);
        }
    });

}

function maltiCartProduct(obj){
    debugger;

    var nextTD = $(obj).closest('td').html();
    alert(nextTD);



}

<!--ProductsList =[];-->
<!--var Item =function(id,name,image,price,count){-->
<!--    this.id =id;-->
<!--    this.name =name;-->
<!--    this.image =image;-->
<!--    this.price =price;-->
<!--    this.count =count;-->
<!--};-->

<!--function addItemToProduct(id,name,image,price,count){-->
<!--    for (var i in ProductsList ){-->
<!--    //debugger;-->
<!--        if (ProductsList[i].id===id){-->
<!--            count =count+1;-->
<!--            ProductsList[i].count=count;-->
<!--            return;-->
<!--        }-->

<!--    }-->
<!--var item =new Item(id,name,image,price,count);-->

<!--ProductsList.push(item);-->

<!--localStorage.setItem("products", JSON.stringify(ProductsList));-->
<!--}-->

<!--function getToCartProduct(pid,pimg,pname,pprice){-->
<!--    debugger;-->
<!--    addItemToProduct(pid,pname,pimg,pprice,1);-->
<!--    dd =console.log(ProductsList);-->
<!--    var storedproducts = JSON.parse(localStorage.getItem("products"));-->
<!--    for (i =0; i<storedproducts.length;i++){-->
<!--        cartdata =storedproducts[i].name+"-"+storedproducts[i].price;-->
<!--        html_cart ='<tr class="items-data1"><td><img src="'+storedproducts[i].image+'" width="40"></td><td>'+storedproducts[i].name+'</td><td>'+storedproducts[i].price+' x <input type="number" class="qty" value="'+storedproducts[i].count+'"></td><td>12</td><td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td></tr>';-->
<!--        $("#loadCart").append(html_cart);-->
<!--        $("#cCart").html(storedproducts.length);-->

<!--        console.log(cartdata);-->
<!--    }-->

<!--}-->




$(document).ready(function(){

    fetchAllProduct();
    fetchAllCot();
    getToCartProduct(0);



});


</script>
{% endblock%}

{% endblock%}


