{% extends 'include/main.html'%}
{% block tilte%}Home {% endblock%}

{% block body%}
{% load static %}

{% include 'page/header.html'%}

<div class="container-fluid">


    <div class="row mt-4">
        <div class="col-md-2">

            <div class="list-group" id="cat-div">
                <a href="#" class="list-group-item list-group-item-action active">All Cotegery
                </a>
                <span id="getCot">
                </span>

            </div>

            <div class="">
                (1000-10000)
                <input type="range" id="searchprobyrange" onchange="searchProbyRange()">
            </div>
        </div>
        <script>
        function searchProbyRange(){
            searchprobyrange =$("#searchprobyrange").val();
            alert(searchprobyrange);
            }
        </script>
        <div class="col-md-8">
            <div class="sdiv">
                <input type="text" id="searchpro" placeholder="Search for products, brands and more"
                       class="form-control">
                <span id="sbtn" onclick="searchProduct()"><i class="fas fa-search"></i></span>
            </div>

            <div class="row" id="allpro">

            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Recent Product</a>
                <a href="#" class="list-group-item list-group-item-action ">Product 1</a>
                <a href="#" class="list-group-item list-group-item-action">Product 2</a>
                <a href="#" class="list-group-item list-group-item-action">Product 3</a>


            </div>

        </div>
    </div>

</div>

{% block js%}

<script>

function CartHide(){
     $("#cart_data").slideToggle();
  }
function fetchAllProduct(){
        $.ajax({
            url:"http://127.0.0.1:8000/allpro/",
            success:function(data){
            $("#allpro").html(data);
            }
        });
}

function fetchAllCot(){
    $.ajax({
            url:"http://127.0.0.1:8000/allCat/",
            success:function(data){
            $("#getCot").html(data);
            }
        });
}

function searchProduct(){
    searchpro =$("#searchpro").val();
    $.ajax({
        url:"http://127.0.0.1:8000/allpro/",
        type:"get",
        data:{searchpro:searchpro},
        success:function(data){

        $("#allpro").html(data);
        }
    });
 }

 function searchProductByCat(cot_id){
    $.ajax({
        url:"http://127.0.0.1:8000/allpro/",
        type:"get",
        data:{cot_id:cot_id},
        success:function(data){
        $("#allpro").html(data);
        }
    });

 }



$(document).ready(function(){

fetchAllProduct();
fetchAllCot();
});


</script>
{% endblock%}

{% endblock%}


