{% if pro%}

{% for v in pro%}
    <a href="{% url 'details' v.slug %}">
        <div class="col-sm-4">
            <div class="prod mt-4">
                <div class="card bg-white">
                    <div class="img-div"> <img class="card-img-top" src="{{v.image.url}}" alt="{{v.image.url}}" width="100%"></div>
                    <div class="card-body">
                        <div class="card-title">{{v.name}} </div>
                        <div class="pro-price"> Rs.{{v.price}}/ </div>
                        <div class="pro-date"> {{v.date}} </div><br>
                        <a onclick='getToCartProduct({{v.id}},"{{v.image.url}}","{{v.name}}",{{v.price}})' class="btn btn-info text-white" >Add to Cart</a>
                        <a href="#buy" class="btn btn-primary">Buy No {{v.id}}</a>
                    </div>
                </div>
            </div>

        </div>
        </a>
        {% endfor%}

{%else%}
<div class="row pl-4"><span class="text-center"> No Record found !</span></div>
{% endif%}