<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light ">
            <a href="{% url 'homepage'%}" class="navbar-brand text-primary">Apna Rewa Apna Bazar</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <div class="navbar-nav ml-auto">
                    <a class="nav-item btn btn-primary ">
                        <span id="showlistbtn" class="text-white" onclick="CartHide()">Cart <span id="cCart">0</span> <i
                                class="fas fa-shopping-cart"></i></span>
                    </a>
                    <div id="cart_data">
                        <div class="items">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-primary text-white">
                                    <td>Images</td>
                                    <td>Product name</td>
                                    <td>QTY</td>
                                    <td>Price</td>
                                    <td>#</td>
                                </tr>
                                </thead>
                                <tbody id="loadCart">



                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="3">Total</td>
                                    <td colspan="2">0</td>
                                </tr>
                                <tr>
                                    <td colspan="5"><a href="{% url 'checkout'%}" class="btn btn-primary">Checkout</a></td>
                                </tr>
                                </tfoot>
                            </table>


                        </div>

                    </div>

                    <script>

                    </script>


                </div>
            </div>
        </nav>
    </div>
</header>