body{
backgorund:#eee;
}

.prod{
    background: #fff;
    margin-top: 5pt;

}
.sdiv{
position: relative;
}
#sbtn{
position: absolute;
    right: 0px;
    top: 0px;
    background: #12bf84;
    padding: 7px;
    border-radius: 2pt;
    color: #fff;
    z-index: 9;
    cursor: pointer;

}
#sbtn:hover{
background: #12bd44;
}
.no-padding{
    padding:0;
    margin:0;
}
#showlistbtn{
position: relative;
}
#cart_data{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background: #fff;
    display: none;

}

.img-div{
width: 100%;
    height: 250px;
    overflow: hidden;
}

#cat-div{

    width: 100%;
    height: 250px;
    overflow: scroll;
}